body {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
}
.header {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
}
.white_wrapper {
  background: #fff;
}
.sub_header {
  background: #00c2ad;
}

.checkout_header {
  background: #f5f4fa;
  color: #000000;
}
.checkout_header h1 {
  color: #000000;
}
.dark-text {
  color: #000 !important;
}
.deliver_list li {
  color: #000;
  border-bottom: #ccc solid 1px;
}
.pickup_list li {
  color: #000;
  border-bottom: #ccc solid 1px;
}
.pickup_list li small {
  color: #666;
}
.search_area {
  background: #f6f6f6;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #2d2f41;
  background-color: #2d2f41;
}
.change-add {
  color: #00c2ad;
}
.delivery_pickup_opup .nav-pills .nav-link.active,
.delivery_pickup_opup .nav-pills .show > .nav-link {
  color: #00c2ad;
  background-color: transparent;
  border-bottom: #00c2ad solid 1px;
}
.delivery_pickup_opup .nav-link {
  color: #666;
  border-bottom: #ddd7d7 solid 1px;
}
.item_detail_popup .nav-pills .nav-link.active,
.item_detail_popup .nav-pills .show > .nav-link {
  color: #00c2ad;
  background-color: transparent;
  border-bottom: #00c2ad solid 1px;
}
.item_detail_popup .nav-link {
  color: #666;
  border-bottom: #ddd7d7 solid 1px;
}
.search_area .form-control {
  background: #fff !important;
}
.products_area .card-body .row {
  border-bottom: #ccc solid 1px;
}
.products_area .product_detail_ff {
  color: #000;
}
.products_area .price small {
  color: #000;
}
.products_area .price {
  color: #bababa;
}
.products_area .accordion .card .card-header {
  background-color: #00c2ad;
  color: #fff;
}
.collapsed {
  background: rgba(0, 0, 0, 0.03) !important;
  color: #000 !important;
}
.custom-control-label {
  color: #000;
}

.form-control {
  border: #e5e5e5 solid 1px;
  background: #f6f6f6;
}
.form-control:focus {
  box-shadow: none;
  background: #f6f6f6;
}
.primary {
  background: #2d2f41;
  color: #fff;
}
footer {
  background: #f6f6f6;
}
footer ul li a {
  color: #6d6c6c;
}
.social_icons a {
  background: #fff;
  color: #666;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.side_menu {
  border-bottom: #efefef solid 1px;
}
.side_menu a {
  color: #6d6c6c;
}
.sidenav {
  background-color: #fff;
}
.sidenav .closebtn {
  color: #6d6c6c;
}
.grey {
  background: #f5f4fa;
}
.btn_area .col-md-8 {
  background: #2d2f41;
  color: #fff;
}
.btn_area .col-md-8 .cart .iconify {
  color: #ffffff;
}
.btn_area .col-md-12 .cart .iconify {
  color: #ffffff;
}
.btn_area .col-md-4 {
  background: #00c2ad;
  color: #fff;
}
.extra_selection .sepcial_Notes {
  background: #f5f4fa;
}
.extra_selection .collapsed {
  background: #f5f4fa !important;
  color: #000;
}
.item_detail_popup .close {
  background: #fff;
}
.btn_fixed_cart .iconify {
  color: #ffffff;
}
.qty_spinner {
  color: #fff;
}
.qty_spinner input {
  color: #fff;
}
.qty_spinner button {
  color: #fff;
}
.cart .cart_list_items li .qqty {
  border: #000 solid 1px;
}
.cart .cart_list_items .control {
  background: #fff;
  border: #000 solid 1px;
}
.cart_total b {
  color: #000;
}
.cart span .iconify {
  color: #000;
}
.login_register em {
  color: red;
}
.login_register .nav-tabs {
  border: 1px solid #dee2e6 !important;
}
.nav-tabs .nav-link {
  color: #6d6c6c;
}
.login_register .nav-tabs .nav-link.active,
.login_register .nav-tabs .nav-item.show .nav-link {
  color: #ffffff;
  background-color: #00c2ad;
  border-color: oldlace;
}
.stepwizard {
  background: #f5f4fa;
}
.stepwizard-step .btn-default {
  background: #e5e5e5;
}
.stepwizard-step .btn-primary {
  background: #00c2ad !important;
}
.stepwizard-row:before {
  background-color: #ccc;
}
.checkout label {
  color: #6d6c6c;
}
.setup-content .btn-primary {
  background: #2d2f41;
}
.setup-content .btn-primary {
  color: #fff;
}
.setup-content .btn-primary:not(:disabled):not(.disabled):active,
.setup-content .btn-primary:not(:disabled):not(.disabled).active,
.show > .setup-content .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #00c2ad;
  border-color: #005cbf;
}
.map iframe {
  border: #ccc solid 2px;
}
.search-address input:focus {
  color: #fff;
}
.search-address input {
  background: #353747;
}
.search-address {
  background: #2d2f41;
  color: #fff;
}
.payment_method li {
  background: #f6f6f6;
  border: #e5e5e5 solid 1px;
}
.checked_icon {
  color: #2d2f41;
}
.fixed_btn_primary:not(:disabled):not(.disabled):active,
.fixed_btn_primary:not(:disabled):not(.disabled).active,
.show > .fixed_btn_primary.dropdown-toggle {
  color: #fff;
  background-color: #00c2ad;
  border-color: #005cbf;
}

.need_help {
  color: #666;
}
.ul-account-list > li {
  box-shadow: 0px 0px 10px rgba(196, 196, 196, 0.25);
}
.ul-account-list li a {
  color: #000000;
}
.ul-order-list li .qqty {
  border-radius: 90px;
  border: #000 solid 1px;
}
.ul-order-list li .check-circle-filled {
  color: #00c2ad;
}
.ul-order-list li .round-cancel {
  color: #ff0000;
}
.ul-order-detail-list li span.delivered-btn .iconify {
  color: #00c2ad;
}
.ul-address-book-list > li ul li span {
  color: #000;
}
.forgotpass a {
  color: #2d2f41;
}
.ul-address-book-list > li ul li {
  color: #afaeae;
}
.products_row {
  background-color: #ffffff;
}
.product_scroller .inner_pro li .qty_show {
  background: #fff;
}
.product_scroller .inner_pro h4 {
  color: #00c2ad;
}
.show-more {
  color: #00c2ad;
}
.products_list2 .card-body .row {
  border-bottom: #ccc solid 1px;
}
.products_list2 .price {
  color: #bababa;
}
.products_list2 .price small {
  color: #000;
}
h3 {
  color: #000;
}
h5 {
  color: #000;
}
h6 {
  color: #000;
}
.inner_header {
  color: #fff;
}
.header .lang a {
  color: #fff;
}
.inner_header .iconify {
  color: #fff;
}
.white_wrapper h2 {
  color: #000;
}
.v_detail p {
  color: #666;
}
.sub_header h1 {
  color: #fff;
}
.btn_area .col-md-4 a {
  color: #fff;
}
.extra_selection .accordion .card .card-header {
  background: #2d2f41;
  color: #fff;
}
.item_detail_popup .modal-body .btn_fixed_cart {
  color: #fff;
}
.stepwizard-row:before {
  background-color: #ccc;
}
.checkout em {
  color: red;
}
.fixed_btn_primary {
  background: #2d2f41;
  color: #fff;
}
.check-circle-filled2 {
  color: #ccc !important;
}
.product_scroller .inner_pro p {
  color: rgb(0, 0, 0);
}

.banner{
    height:254px;
    object-fit: cover;
}
.logo{
    height:72px;
    object-fit: scale-down;
}